<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/homes/genre' %>
    </div>
    <div class="col-lg-9">
      <div>
        <%= image_tag 'sweets2.jpg', size: '830x250' %>
      </div>
      <h3>新着情報</h3>
<div class = "row">
        <% @ramdom.each do |item| %>
        <div class = "col-lg-3">
          <div class="border-top">
            <!--<%# if item.genre.is_sale_status == true %>-->
              <!--<%# if item.is_sale_status == true %>-->
                <%= link_to item_path(item) do %>
                  <%= image_tag item.image, fallback: 'no_image.jpg', size:'190x150' %><br>
                <% end %>
                <p><%= item.name %></p>
                <p>¥<%= (item.price*1.1).floor.to_s(:delimited)%>(税込)</p>
            <!--  <%# end %>-->
            <!--<%# end %>-->
          </div>
          </div>
        <% end %>
        </div>
        <div class ="text-right">
      <div><%= link_to 'すべての商品を見る > ', items_path %></div>
      </div>
    </div>
  </div>
</div>


