<div class='container'>
  <div class=row>
    <div class='col-md-3'>
      <ul>
        <li><strong>ジャンル検索</strong></li>
        <li><%= link_to 'ケーキ' %></li>
        <li><%= link_to '焼き菓子' %></li>
        <li><%= link_to 'プリン' %></li>
        <li><%= link_to 'キャンディ' %></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div>
        <%= image_tag 'naganocake_image/cookies.jpg', size: '600x400' %>
      </div>
      <h3>新着情報</h3>
      <div>
        <p>ここに画像が入る予定</p>
        <% @ramdom.each do |item| %>
          <div>
            <% if item.genre.is_active == true %>
              <% if item.is_active == true %>
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :image, fallback: 'no_image.jpg', size:'200x200' %><br>
                <% end %>
                <p><%= item.name %></p>
                <p>¥<%= (item.price*1.1).floor.to_s(:delimited)%>(税込)</p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div><%= link_to 'すべての商品を見る > ', items_path %></div>
    </div>
  </div>


</div>


