<div class="container">
<div class='mx-auto col-md-7'>
<h1>ジャンル一覧・追加</h1>

<%= form_with model: @genre, url:'/admin/genres', method: :post, local: true do |f| %>
<div class="form-group">
    <%= f.label :ジャンル名 %>
    <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
    <%= f.submit "新規登録", class: 'btn btn-info' %>
</div>
 <% end %>
<table class="table">

 <thead>
  <tr>
  <th>ジャンル</th>
  </tr>
 </thead>

<tbody>
 <tr><% @genres.each do |genre| %></tr>
 <td><%= genre.name %></td>
 <td align="right"><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %></td>
 <% end %>
</tbody>


</table>
</div>
<%= image_tag 'line_sweets.png',size:'10,30' %>
</div>