
<h4><b>配送先編集</b></h4>

<%= form_with model:@address, url:address_path, local:true do |f| %>
<table class "table table-bordered">
  <tr>
    <div class="field">
      <td><%= f.label :"郵便番号" %></td>
      <td><%= f.text_field :postcode, autofocus: true %></td>
    </div>
  </tr>
  
  <tr>
    <div class="field">
      <td><%= f.label :"住 所" %></td>
      <td><%= f.text_field :address, autofocus: true %></td>
    </div>
  </tr>
  <tr>
    <div class="field">
      <td><%= f.label :"宛 名" %></td>
      <td><%= f.text_field :name, autofocus: true %></td>
    </div>
  </tr>
  <tr>
    <div class="form-group">
      <td></td>
      <td><%= f.submit "変更内容を保存", class: 'btn btn-success' %></td>
    </div>
  </tr>
<% end %>
</table>