<div class ="container">

      <div class="d-flex align-items-end" style="height:50px;">
        <h4><b>配送先編集</b></h4>
      </div>

          <%= form_with model:@address, url:address_path, local:true do |f| %>
            <div class ="row">
              <div class ="col-5">
                <table class "table table-bordered">

              <tr>
                <div class="field">
                  <td><%= f.label :"郵便番号" %></td>
                  <td><%= f.text_field :postcode, autofocus: true %></td>
                </div>
              </tr>

              <tr>
                <div class="field">
                  <td><%= f.label :"住 所" %></td>
                  <td><%= f.text_field :address, autofocus: true , size:30 %></td>
                </div>
               </tr>
              <tr>
                <div class="field">
                  <td><%= f.label :"宛 名" %></td>
                  <td><%= f.text_field :name, autofocus: true %></td>
                </div>
              </tr>
                <div class="form-group">
                  <td><%= f.submit "変更内容を保存", class: 'btn btn-success' %></td>
                </div>
            </table>
          </div>

            <div class ="col-7">
              <%= image_tag 'icake.png',size:'250x100' %>
              </div>
            </div>
        <% end %>
</div>