<h3>注文情報確認</h3>
  <table class ="table">
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>
            <%= image_tag cart_item.item.image, size: "100x100" %>
            <strong><%= cart_item.item.name %></strong>
          </td>
          <td><%= cart_item.item.price %></td>
          <td><%= cart_item.amount %></td>
          <td><%= cart_item.item.price * cart_item.amount %></td>
        </tr>
      <% end %>
    </table>
    
      <table class="table">
      <tr>
        <td>送料</td>
        <td><%= @shipping_fee %></td>
      </tr>
      <tr>
        <td>商品合計</td>
        <td><%= @cart_items_price %></td>
      </tr>
      <tr>
        <td>請求金額</td>
        <td><%= @total_price %></td>
      </tr>
    </table>
    
  　<h4><b>支払方法</b></h4>
  　  <% if @selected_pay_method == "credit_card" %>
      クレジットカード
    <% else %>
      銀行振込
    <% end %>
      
      <h4><b>お届け先</b></h4>
        <%= @selected_address %>
        
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>