<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/homes/genre' %>
          <!--最新、高価格、低価格のボタン設置-->

    <div class="col-3">
      <div class = "text-center">
      <b>sort</b>
        <%= link_to 'Newest', items_path(latest: "true") %>
        <%= link_to 'Price: High', items_path(price_high: "true") %>
        <%= link_to 'Price: Low', items_path(price_low: "true") %>
      </div>
    </div>
    </div>
    <div class="col-md-9">
      <h1 class="product-title">
        <% if params[:genre_id] %>
          <%= @genre.name %>
        <% else %>
        <div class="d-flex align-items-end" style="height:60px;">
          <h3>すべての商品</h3>
        </div>
        <% end %>
      </h1>
      <strong> 全<%= @items.count %>件 </strong>

      <!--繰り返し処理が必要-->
      <div class = "row">
      <% @items.each do |item| %>
      <div class = "col-3">
        <%# if item.genre.is_sale_status == true %>
          <div>
            <%= link_to item_path(item) do %>
              <%= image_tag item.image, fallback: 'no_image.jpg', size: "190x150" %><br>
            <% end %>
            <%= item.name %><br>
            ¥<%= (item.price*1.1).floor.to_s(:delimited)%>(税込)
          </div>
      </div>
        <!--<%# end %>-->
      <% end %>
      <!--ページネーションが必要-->

      <%= paginate @items %>

      <%#= paginate @items %>
      </div>
      </div>

  </div>
</div>






