<div class="mb-8 text-center">
  <span class="text-3xl font-bold">
    商品一覧  全<%#= count%>〜件
  </span>
</div>

<!--最新、高価格、低価格のボタン設置-->


<!--画像横並び-->
<div class='flex flex-wrap justify-center'>
  <!--繰り返し処理が必要-->

  <a href="/items/:id"><%= image_tag 'naganocake_image/cake.jpg', size: '200x150' %></a>
  <%= image_tag 'naganocake_image/cake2.jpg', size: '200x150' %>
  <%= image_tag 'naganocake_image/cake4.jpg', size: '200x150' %>
  <br>
  <%= image_tag 'naganocake_image/cake5.jpg', size: '200x150' %>
  <%= image_tag 'naganocake_image/cake6.jpg', size: '200x150' %>

  <!--ページネーションが必要-->

</div>