<div class=container>
  <div class=row>
    <div class='col-md-3'>
      <ul>
        <li><strong>ジャンル検索</strong></li>
        <li><%= link_to 'ケーキ' %></li>
        <li><%= link_to '焼き菓子' %></li>
        <li><%= link_to 'プリン' %></li>
        <li><%= link_to 'キャンディ' %></li>
      </ul>
    </div>
    <div class='col-md-8'>
      <%= image_tag 'naganocake_image/cake.jpg', size: '350x250' %>
      <h2>いちごのショートケーキ</h2>
      <p>栃木県産のとちおとめを贅沢に使用しています。</p>
    </div>

    <button>カートに入れる</button>

  </div>
</div>
